.introducao {
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.875rem;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url('../imgs/detalhe.svg') no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao h1::before {
    width: 66px;
    height: 52px;
    left: -16px;
    top: 0px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 1px;
    top: -8px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .introducao img {
    display: none;
  }

  .introducao h1 {
    text-align: center;
  }

  .introducao h1::before {
    width: 130px;
    height: 100px;
    left: 40px;
  }

  .introducao p {
    font-size: 0.8rem;
    text-align: center;
  }
}